*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-1{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.heading-h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    margin: 10px 20px;
}

.para1{
    font-size: larger;
    color: grey;
}

.para1,.para2{
    margin: 10px 20px;
}

.para2{
    font-size: xx-large;
    font-weight: 600;
    margin-top: 2%;
}

.para2 > .head-counter,.tail-counter{
    color: red;
}

.para3{
    margin-top: 2%;
    color: rgb(157, 72, 72);
    font-size: small;
}

.coin-displaying{
    width: 180px;
    height: 180px;
    box-sizing: content-box;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 76, 103);
}

.toss{
    width: 90%;
    border-radius: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    color: white;
    background-color: rgb(239, 76, 103);
    border: 2px dotted rgb(255, 255, 255);
}

.toss-side{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    color: white;
}

.coin-btn{
    width: max-content;
    height: 50px;
    padding: 0 50px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    color: white;
    background-color: rgb(239, 76, 103);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.coin-btn:hover{
    color: rgb(239, 76, 103);
    background-color: rgb(0, 0, 0);
}

.reset-btn{
    padding: 10px 30px;
    margin-top: 3%;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgb(0, 0, 255);
    border: 2px solid lightskyblue;
    cursor: pointer;
}